.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 70%;
  margin: auto;
}

.jumbotron {}

#header {
  height: 100px;
  width: 100px;
}

#big {
  width: 700px;
  height: 400px;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: grey;
}

#flipper {
  text-align: center;
}


/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 200px;
  height: 200px;
}


/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}


/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}

h3 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

#headimage, #fadein {
  animation-duration: 6s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
